---
layout: page.html
title: ''
---

  <div id="droparea" style="display: none;">
    <a href="" class="close">&times;</a>
  </div>
  
  <div class="content clearfix">
    
    
    <div class="col-left">
      <div class="video">
        <video id="demo" src="images/salsa.mp4" ></video>    
      </div>
      
      <div class="video-controls">
        <a href="" id="play"><i class="glyphicon glyphicon-play"></i></a>
        <a href="" id="pause" class="hide"><i class="glyphicon glyphicon-pause"></i></a>

        <div class="range-holder">
          <div class="range-track"></div>
          <div class="range-selection"></div>
          <div class="range-handle left-handle"></div>
          <div class="range-handle right-handle"></div>
          <span class="badge">
            <span class="time1">20</span> - <span class="time2">30</span>
          </span>
          <span class="badge blue" id="time">
            <span class="min">00</span>:
            <span class="sec">00</span>
          </span>
        </div>
      </div>
    </div>

    <div class="col-right">
      <div class="droparea-wrap">
        <a href="" class="btn btn-primary btn-lg">Load video file</a>
      </div>
      <div class="input-wrap">
        <input type="text" id="loop" value="1">
        <i class="glyphicon glyphicon-repeat"></i>
      
        <input type="text" id="playbackRate" value="1">
        <i class="glyphicon glyphicon-time"></i>
      </div>
    </div>
  </div> <!-- /content -->

