<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		VideoLoop
		{{#if title}}
			&mdash; {{ title }}
		{{/if}}
	</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/favicon.ico?v=2" />

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css" media="all">
	
	<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Advent+Pro:400,700' rel='stylesheet' type='text/css'>

	<!-- build:css({.tmp,app}) styles/app.css -->
	<link rel="stylesheet" href="/styles/range.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/app.css">
	<!-- endbuild -->
  
</head>
<body>

	<!--[if lt IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
  
  {{> body }}

	<!-- build:js(app) scripts/plugins.js -->
	<script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
	<!-- endbuild -->

	<script>
	// analytics
	</script>

	<!-- build:js({.tmp,app}) scripts/app.js -->
  <script src="/scripts/range.js"></script>
  <script src="/scripts/dragdrop.js"></script>
  <script src="/scripts/videoPlayer.js"></script>
	<script src="/scripts/app.js"></script>
	<!-- endbuild -->
  <script>
    $(document).ready(function () {
      $('.range-holder').rangeSelector({
        video: $('video'),
        duration: 120
      });
    });
  </script>
</body>
</html>
